[package]
name = "tvm_vm"
#
version.workspace = true
rust-version.workspace = true
#
authors.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
diffy = { optional = true, version = "0.3.0" }
ed25519.workspace = true
ed25519-dalek.workspace = true
failure.workspace = true
hex.workspace = true
lazy_static.workspace = true
log.workspace = true
num.workspace = true
num-traits.workspace = true
rand.workspace = true
similar = { features = ["bytes"], optional = true, version = "2.4.0" }
thiserror.workspace = true
zstd = { default-features = false, optional = true, version = "0.13.0" }
#
tvm_block.workspace = true

[dev-dependencies]
criterion = "0.5.1"
libloading = "0.8.1"
log4rs = "1.2.0"
pprof = { features = ["criterion", "flamegraph"], version = "0.13.0" }
pretty_assertions = "1.4.0"

[features]
fift_check = []
gosh = ["tvm_block/gosh", "diffy", "similar", "zstd"]
log_file = []
signature_no_check = []
signature_with_id = ["tvm_block/signature_with_id"]
verbose = []

[[bench]]
harness = false
name = "benchmarks"

[lib]
bench = false
