name: Prerelease tvm-cli

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+.an'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc.an'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - suffix: macos-arm64
            target: aarch64-apple-darwin
            os: macos-14
            zigbuild: false

          - suffix: macos-amd64
            target: x86_64-apple-darwin
            os: macos-13
            zigbuild: false

          - suffix: linux-arm64
            target: aarch64-unknown-linux-musl
            os: ubuntu-24.04-arm
            zigbuild: true

          - suffix: linux-amd64
            target: x86_64-unknown-linux-musl
            os: ubuntu-24.04
            zigbuild: true

          - suffix: arm64
            target: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
            zigbuild: false

          - suffix: x86_64
            target: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
            zigbuild: false

    name: Build ${{ matrix.target }}

    env:
      CARGO_TERM_COLOR: always
      SCCACHE_GHA_VERSION: ${{ vars.SCCACHE_GHA_VERSION || 1 }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: sccache
      CMAKE_C_COMPILER_LAUNCHER: sccache
      CMAKE_CXX_COMPILER_LAUNCHER: sccache

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set VERSION
        id: version
        run: |
          echo "VERSION=$(cat version.json | jq -r .version)" >> "$GITHUB_OUTPUT"

      - name: Configure sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Setup cargo cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: builder-${{ runner.os }}-cargo

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install Linux tools
        if: startsWith(matrix.os, 'ubuntu-')
        env:
          packages: >-
            build-essential
            cmake
            curl
            jq
            clang
            librocksdb-dev
            protobuf-compiler
            python3-pip
        run: |
          sudo apt update -yq
          sudo apt install -yq $packages
          pip3 install ziglang
          [[ -f ~/.cargo/bin/cargo-zigbuild ]] || cargo install cargo-zigbuild

      - name: Install MacOS tools
        if: startsWith(matrix.os, 'macos-')
        run: |
          brew install protobuf jq

      - name: Build Binary
        env:
          CARGO_INCREMENTAL: 0
          CARGO_NET_RETRY: 10
          RUST_BACKTRACE: full
          RUSTUP_MAX_RETRIES: 10
        run: |
          cargo update

          for binary in tvm-cli tvm-debugger; do
            if [[ "${{ matrix.zigbuild }}" == "true" ]]; then
              cargo zigbuild -r --target ${{ matrix.target }} --bin "$binary"
            else
              cargo build -r --target ${{ matrix.target }} --bin "$binary"
            fi
          done
          ls -lA target/${{ matrix.target }}/release

      - name: List all binaries
        run: |
          mkdir artifacts-${{ matrix.suffix }}

          for binary in tvm-cli tvm-debugger; do
            mv target/${{ matrix.target }}/release/$binary artifacts-${{ matrix.suffix }}/$binary
          done
          ls -lA artifacts-${{ matrix.suffix }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: artifacts-${{ matrix.suffix }}/*
          name: artifacts-${{ matrix.suffix }}
          if-no-files-found: error
          retention-days: 3

    outputs:
      version: ${{ steps.version.outputs.VERSION }}

  release:
    needs:
      - build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        suffix: [macos-arm64, macos-amd64, linux-arm64, linux-amd64, arm64, x86_64]

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4

      - name: Display structure of downloaded files
        run: ls -R

      - name: Make archive
        run: |
          chmod +x artifacts-${{ matrix.suffix }}/*
          tag_name=$(echo "${{ github.ref_name }}" | sed 's/^v//')
          cd artifacts-${{ matrix.suffix }}
          for file in *; do
            tar -czvf "$file"-"$tag_name"-${{ matrix.suffix }}.tar.gz $file
          done
          ls -lA

      - name: Upload Prerelease
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          tag_name: ${{ github.ref_name }}
          files: |
            artifacts-${{ matrix.suffix }}/*.tar.gz
          name: "Version: ${{ github.ref_name }}"
          body: ""
